# Basic Time Series Models - Lab

## Introduction

Now that you have an initial understanding of the the White Noise and the Random Walk model, let's try to generate some examples!

## Objectives

You will be able to:
- Explain what the goal is of time series modeling
- Understand and explain what a White Noise model is
- Understand and explain what a Random Walk model is
- Understand the mathematical formulations of Random Walk and White Noise models

## A White Noise Model

To get a good sense of how a model works, it is always a good idea to generate a process. Let's consider the following example:
- Every day in August, September and October 2018, Nina takes the subway to work. Let's ignore weekends for now and assume that Nina works every day.
- We know that on average, it takes her 25 minutes, and the standard deviation is 4 minutes. 
- Create and visualize a time series that reflects this information.

Let's import pandas, numpy and matplotlib.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline


np.random.seed(12) # do not change this seed.

/opt/conda/envs/learn-env/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)

Create the dates. You can do this using `pd.date_range`, more info [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.date_range.html).

In [6]:
# your code here
dates = pd.date_range(start='2018-08-01', end='2018-10-31', freq='D')
len(dates)

92

Generate the values for the wite noise process representing Nina's commute in August and September.

In [8]:
# your code here
values = np.random.normal(loc=25, scale=4, size=92)
len(values)

92

In [13]:
values_ds = pd.DataFrame(values)
date

            0
0   22.244485
1   28.210522
2   26.089564
3   21.123294
4   28.487872
5   19.214562
6   22.854075
7   25.791682
8   19.537441
9   20.222222
10  25.063738
11  24.679826
12  23.996789
13  22.739428
14  20.589312
15  21.870870
16  37.166745
17  22.495675
18  31.023604
19  22.650656
20  30.463412
21  29.928179
22  26.803557
23  22.434361
24  19.489616
25  28.862985
26  19.863986
27  19.901712
28  31.091367
29  30.847530
..        ...
62  20.470125
63  26.097164
64  27.943648
65  26.737275
66  20.519836
67  28.556378
68  26.258028
69  15.047982
70  27.383634
71  16.856552
72  20.446873
73  29.230569
74  27.611074
75  22.422133
76  21.466152
77  26.382769
78  17.812690
79  26.642838
80  23.832706
81  27.936591
82  24.498017
83  20.645930
84  25.808924
85  23.600662
86  19.314892
87  20.345647
88  20.973295
89  25.200087
90  28.061721
91  24.885940

[92 rows x 1 columns]

Create a time series with the dates and the commute times.

In [12]:
# your code here
ts = pd.concat([dates, pd.DataFrame(values)], axis=1)
ts.columns = ['date', 'duration']
ts.head()

TypeError: cannot concatenate object of type "<class 'pandas.core.indexes.datetimes.DatetimeIndex'>"; only pd.Series, pd.DataFrame, and pd.Panel (deprecated) objs are valid

Visualize the time series and set appropriate axis labels.

In [ ]:
# your code here

Print Nina's shortest and longest commute.

In [ ]:
# your code here

In [ ]:
# your code here

Look at the distribution of commute times.

In [ ]:
# your code here

Compute the standard deviation and the mean of the commute series. The fact that the mean and standard error are constant over time is crucial!

In [ ]:
# your code here

In [ ]:
# your code here

Now, let's look at the mean and standard error for August and October respectively.

In [ ]:
# your code here

Because you've generated this data, you know that the mean and constant will be the same over time. But comparing mean and standard deviation over time is useful practice for real data examples to check if a process is White Noise!

## A Random Walk Model

Remember from the lecture that the Random Walk Model:

- Has no specified mean or variance
- Has a strong dependence over time

Mathematically, this can be written as:

$$Y_t = Y_{t-1} + \epsilon_t$$

Because today's value depends on yesterday's, you need a starting value when you start off your time series. In practice, this is what the first few time series values look like:
$$ Y_0 = \text{some specified starting value}$$
$$Y_1= Y_{0}+ \epsilon_1 $$
$$Y_2= Y_{1}+ \epsilon_2 = Y_{0} + \epsilon_1 + \epsilon_2  $$
$$Y_3= Y_{2}+ \epsilon_3 = Y_{0} + \epsilon_1 + \epsilon_2 + \epsilon_3 $$
$$\ldots $$

Keeping this in mind, let's create a random walk model:
- starting from a value of 1000 USD of a share value upon a company's first IPO (initial public offering) in 2010 until end of November of the same year, generate a random walk model with a white noise error term, which has a standard error of 10.

In [ ]:
# keep the random seed
np.random.seed(11)

# create a series with the specified dates

Visualize the time series with correct axis labels

In [ ]:
# your code here

You can see how this very much looks like the exchange rate series you looked at in the lecture!

## Random Walk with a Drift

Repeat the above, but include a drift parameter $c$ of 8 now!

In [ ]:
# keep the random seed

In [ ]:
# your code here

Note that there is a very strong drift here!

## Differencing in a Random Walk model

One important property of the Random Walk model is that a differenced random walk returns a white noise. This is a result of the mathematical formula:

$$Y_t = Y_{t-1} + \epsilon_t$$
which is equivalent to
$$Y_t - Y_{t-1} = \epsilon_t$$

and we know that $\epsilon_t$ is a mean-zero white noise process!

Plot the differenced time series for the shares time series (no drift).

In [ ]:
# your code here

This does look a lot like a white noise series!

Plot the differenced time series for the shares time series (with a drift).

In [ ]:
# your code here

This is also a white noise series, but what can you tell about the mean?

The mean is equal to the drift $c$, so 8 for this example!

## Summary

Great, you now know how a Random Walk and Moving Average model work!